*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


:root {
    --white-color: #FFFFFF;
    --brand-color: #4d5ae5;
    --hover-color: #31d0aa;
    --icon-fill: #f4f4fd;
    --studio-link-color: #404bbf;
}


.header {
    font-weight: 500;
    margin: 0 auto;
    border-bottom: 1px solid #e7e9fc;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


ul {
    list-style: none;
}


nav {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
}


.page-nav {
    display: flex;
    gap: 40px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0;
    padding-left: 0;



}


.nav-link:focus,
.nav-link:hover {
    color: #404bbf;
}

.nav-link.current {
    color: var(--studio-link-color);
}

.nav-link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.nav-link::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--studio-link-color);
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-link:hover::after,
.nav-link:focus::after {
    opacity: 1;
}

.current::after {
    opacity: 1;
}


.web {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin: 0;
    margin-right: 76px;
}

.studio {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #2e2f42;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    padding: 24px 0;
}

.nav-webstudio {
    display: flex;
    align-items: center;

}

.address-list {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding-left: 0;


}


.address-page {
    font-style: normal;

}


.address-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.address-link:hover,
.address-link:focus {
    color: #404bbf;
}



.page-title {
    background-color: #2e2f42;
    line-height: 1.07;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/img11.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}



.hero-title {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    max-width: 496px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 0 auto 48px;


}


.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button:hover,
.button:focus {
    background-color: #404BBF;

}


.features {
    background-color: #ffffff;
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;

}


.features-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}


.features-section {
    flex: calc((100% - 72px) / 4);
}


.box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;

}


.team {
    background-color: #F4F4FD;
    padding: 120px 0;

}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}

.team-h {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 8px;

}

.team-list {
    display: flex;
    gap: 24px;


    justify-content: center;

}

.team-members {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);


}


.team-title {
    padding: 32px 0;
    text-align: center;
}


.text-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}



.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;
    align-items: center;
    padding: 16px;

}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-item:first-child .social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #f4f4fd
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}



.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.app {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;


}

.app-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    list-style: none;
}

.app-h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    font-size: 20px;
    list-style: none;
    display: block;
    text-align: left;

}

.portfolio-items {
    width: calc((100% - 48px) / 3);
    background-color: #FFFFFF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-items:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-items:nth-child(3n) {
    margin-right: 0;
}

.portfolio-items img {
    width: 100%;
    height: auto;
    display: block;

}


.app-text {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.portfolio-img-wrapper {
    position: relative;
    overflow: hidden;

}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4D5AE5;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover .overlay-text {
    transform: translateY(0%);
}


.footer {
    background-color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 100px 0;
}



.footer .container {
    display: flex;
    align-items: baseline;


}


.footer-link {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #f4f4fd;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;


}

.footer-text {
    color: #E7E9FC;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    max-width: 264px;
    line-height: 1.5;


}

.footer-webstudio {
    margin-right: 120px;

}

.social-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
    margin-left: 0;


}

.footer-social {
    display: flex;
    gap: 16px;
    padding: 0;

}


.footer-social-items {
    width: 40px;
    height: 40px;
}

.footer-social-links {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brand-color);

}

.footer-social-items:first-child .footer-social-links {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links:hover,
.footer-social-links:focus {
    background-color: var(--hover-color);

}

.footer-social-icons {
    fill: #f4f4fd;
}



/* subscribe */


.subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    color: #ffffff;
    margin-left: 72px;
}

.form-subscribe {
    display: flex;
    gap: 24px;
    margin-left: 72px;
}

.input-subscribe {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;

}

.label-subscribe {
    display: flex;
    gap: 12px;
    align-items: center;
}

.input-subscribe::placeholder {
    color: #ffffff;
    opacity: 1;
}

.subscribe-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-email {
    margin-left: 16px;
}

/* modal */

.modal-overlay {

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    position: fixed
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
}


.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 584px;
    width: 408px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    position: absolute;

}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-icon-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-btn:hover,
.modal-icon-btn:focus {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-link {
    margin-bottom: 8px;

}

.modal-link-comment {
    margin-bottom: 16px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-line {
    position: relative;

}

.modal-inform {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.modal-inform:focus {
    border-color: #4D5AE5;

}

.modal-inform:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-text::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-text:focus {
    border-color: #4D5AE5;
}

.checkbox-form {
    margin-bottom: 24px;

}

.policy-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: inline-block;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.policy-link-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;


}

.policy-link {
    color: var(--brand-color);
}

.policy-checkbox:checked+.policy-text .policy-link-checkbox {
    background-color: var(--studio-link-color);
    border: none;
    fill: var(--icon-fill);

}

.policy-checkbox:checked+.policy-text .policy-link-checkbox .modal-span-icon {
    fill: var(--icon-fill);



}

.send-button {
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}




/* mobile */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media screen and (max-width: 767px) {
    .header-nav,
    .address {
        display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        margin-left: 28px;
        margin-right: 28px;
         }

}


.mobile-socials {
    display: flex;
    gap: 40px;
    margin-top: 48px;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1158px) {

}